

main{
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.new-task{
    align-self: baseline;
    align-tracks: baseline;
    padding: 1vh;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 5px;
}

header{
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div.Radio{
    display: flex;
    position: fixed;
}
input[type=radio]:checked + label{
    text-decoration-line: none;
    text-transform: uppercase;
}

.taskList{
    display: inline-block;
    justify-content: space-between;
    padding: 1vh;
    border: 1px solid black;
}

div.task{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 3%;
    margin-top: 3%;
}
input[type=checkbox]:checked + label{
    text-decoration-line: line-through;
}

button[id="delete"] {
    border: none;
    background: url("../assets/images/trash.svg") no-repeat center;
    padding: 2px 8px;
  }
  
  button[id="delete"]:hover {
    background-color: lightgray;
  }
  button[id="delete"]:active {
    background-color: black;
    color: aliceblue;
  }

