@import "./themes/light-theme.scss";
@import "./themes/dark-theme.scss";

$bodyBackground: $bodyBackgroundL;
$newTaskBackground: $newTaskBackgroundL;
$taskBackground: $taskBackgroundL;
$textColor: $textColorL;