@import '../../../styles/themes/light-theme.scss';
@import '../../../styles/mixins.scss';

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--taskBackground);
    padding: 8px;
    margin: 2px;
    max-width: 512px;
    @media screen and (max-width: 768px) {
      /* Estilos para pantallas más pequeñas */
      width: 100%;
      max-width: 100%;
    }
  }

  .checkLabel{
    display: flex;
    align-items: center;
    max-width: 60%;
    label{
      color: var(--textColor);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  
  
// @mixin button{
//   @include button($textColor);
//   margin: 8px 4px;
//   width: 24px;
//   height: 24px;
//   border: 1px solid $textColor;
// }

.check{
  appearance: none;
  margin-right: 8px;
  width: 20px;
      height: 20px;
      border: 1px solid var(--textColor);
      border-radius: 3px;
      &:checked{
        background: var(--checkSVG) no-repeat center;
      }
  
      &:checked + label {
        text-decoration: line-through;
      }
}

.buttons{
  display: flex;
    justify-content: flex-end;
    align-items: center;
}

  .delete {
    @include iconButton(var(--textColor)) ;
    background: var(--trashSVG) no-repeat center;
    margin: 0px 4px;
    margin-right: 0px;
  }
  .share{
    @include iconButton(var(--textColor)) ;
    background: var(--shareSVG) no-repeat center;
    margin: 0px 4px;
  }
  .copy{
    @include iconButton(var(--textColor)) ;
    background: var(--clipboardSVG) no-repeat center;
    margin: 0px 4px;
  }
  
